.bottom{
  position: fixed;
  bottom: 33%;
  left: 30%;
  margin: 1px;
}

.body {
  background-color:rgb(250, 237, 179);  
  position: fixed;
  height: 100vh;
  width: 100vw;
}
body{
overflow: scroll;
}
.top {

  bottom: 40%;
  left: 45%;
  height: 300px;
  width: 505px;
  max-width:520px;
  overflow: auto;
  border: 0.5px rgb(206, 203, 14) solid;
  box-shadow: 1px -1px 2px grey;
  border-radius: 5pt;
  font-family: 'Roboto Condensed', sans-serif; 
  background-color: rgb(241, 255, 255);
  margin: 10px;
}

.chat{
  
  background-color: rgb(255, 176, 4);
  position: absolute;
  bottom:32%;
  left: 28%;
  height:340px;
  width: 520px;
  padding:32px;
  border-radius: 8pt;
  box-shadow: 2px -1px 5px rgb(0, 54, 0);

}


ul{
  list-style-type: none;
  margin-bottom: 30px;
}

.flex{
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  position: fixed;
  
  left: 30vw;
  top:15vh;
  width: 70vw;
  height: 70vh;
}

.login {
  
  
  height: 180px;
  width: 200px;
  margin: 20px;
  margin-top:5px;
  margin-bottom: 3px;
  background-color: orange;
  padding: 10px;
  border-radius: 10pt;
  box-shadow: 1px 1px 1px orangered;
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
  text-shadow: 1px 1px 1px orangered;
  
  
}
.create {
  margin: 20px;
  height: 180px;
  width: 200px;
  margin-top:5px;
  margin-bottom: 3px;
  background-color: orange;
  padding: 10px;
  border-radius: 10pt;
  box-shadow: 1px 1px 1px orangered;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-shadow: 1px 1px 1px orangered;
}

.chatbar {
  width: 440px;
  padding: 6px;
  border: 2px solid rgb(189, 101, 1);
  border-radius: 5pt;
  outline: none;
  
}

.logbut{
  left: 10%;
}

input[type=submit]{
  background: rgb(255, 123, 0);
  border-style: none;
  padding: 5px;
  border-radius: 5pt;
  color: white;
  margin: 7px;
  font-size: 12pt;
  font-family: 'Abril Fatface', cursive;
  /* font-family: 'Titan One', cursive; 
  font-family: 'Roboto Condensed', sans-serif; */
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
  text-shadow: 1px 1px 1px black;
  outline: none;
}

input[type=submit]:hover{
  background: aliceblue;
  color: rgb(185, 185, 15);
  text-shadow: 1px 1px 1px white;
}

.topbar{
  height: 50px;
  width: 100vw;
  background-color: rgb(255, 176, 4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.623);
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 35px;
  padding: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
  transition: all 0.3s ease-in-out;
  margin-bottom: 40px;
}



.topbar:hover{
  color: rgb(253, 253, 109);
}

.header{
  font-family: 'Abril Fatface', cursive;
  text-decoration: underline;
}

.actives{
  height: 80vh;
  width: 225px;
  margin-top: 10px;
  margin-left: 70px;
  background-color: rgb(255, 176, 4);
  border-radius: 12pt;
  padding: 2px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
  font-size: 15pt;
  text-align: left;
  box-shadow: 2px 2px 2px rgba(2, 90, 2, 0.658);
  display:block;
}

.gifs {
  margin: 10px;
  max-width: 300px;
  border-radius: 10pt;
  border: 10px solid orange;
  box-shadow: -1px -1px 3px orangered;
  display:block;
}

#top{
  height: 43px;
  background-color: white;
  padding:5px;
  border-radius: 30pt;
}

.pics{
display:flex;
flex-flow: column; 
position: fixed;
left:70vw;
top: 15vh;
}

.users{
  position:fixed;
  left: 110px;
  text-align: center;
  background-color: rgba(251, 255, 0, 0.788);
  border-radius: 5pt;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 1px 1px 1px orangered;
  transition: all 1s ease-in-out;
  margin:2px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 184, 21); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen 
and (max-device-width: 1000px)
{ .chat{
left: 0vw;
width: 100vw;
} 

.top{
  width: 80vw;
}

.create{
  display: none;
  left:2000px;
}

.pics{
  display: none;
}

.gifs{
  display:none;
}
.actives{
  display:none;
  height: 10px; 
}
.topbar{
  position:absolute;
  top:80vh;
}
.chatbar{
  position:fixed;
  width:100vw;
  left: 0vw;
  top:70vh;
}
#subbut{
  position: fixed;
  top: -100px;
}

.flex{
  position:fixed;
  top: 5vh;
  left: 15vw;
}

}